.remove {
  cursor: pointer;
  color: #0088cc;
}

.remove:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

input[type=checkbox] {
  float: left;
  margin-right: 30px;
}

.remove {
  padding-left: 30px;
}
